<div class="container-fluid" align="center">
  <div class="panel panel-default panel-table">
    <h1>Notebook</h1>
      <div class="panel-body">

      
        <%= form_with(model: user, local: true) do |form| %>
          <table class="table-striped table-bordered table-list">

            <% if user.errors.any? %>
              <div id="error_explanation">
                <h2>
									<%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:
								</h2>
                <ul>
									<% user.errors.full_messages.each do |message| %>
										<li>
											<%= message %>
										</li>
									<% end %>
                </ul>
              </div>
            <% end %>

						<tbody>
							<div class="field">
								<tr>
									<td>
										<%= form.label :name_surname %>
									</td>
									<td>
										<%= form.text_field :name_surname, id: :user_name_surname %>
									</td>
								</tr>
							</div>

							<div class="field">
								<tr>
									<td>
										<%= form.label :photo_link %>
									</td>
									<td>
										<%= form.text_field :photo_link, id: :user_photo_link %>
									</td>
								</tr>
							</div>

							<div class="field">
								<tr>
									<td>
										<%= form.label :phone_number %>
									</td>
									<td>
										<%= form.text_field :phone_number, id: :user_phone_number %>
									</td>
								</tr>
							</div>

							<div class="field">
								<tr>
									<td>
										<%= form.label :country_name %>
									</td>
									<td>
										<%= form.text_field :country_name, id: :user_country_name %>
									</td>
								</tr>
							</div>

							<div class="field">
								<tr>
									<td>
										<%= form.label :town_name %>
									</td>
									<td>
										<%= form.text_field :town_name, id: :user_town_name %>
									</td>
								</tr>
							</div>

							<div class="field">
								<tr>
									<td>
										<%= form.label :birthday_date %>
									</td>
									<td>
										<%= form.text_field :birthday_date, id: :user_birthday_date %>
									</td>
								</tr>
							</div>

							<div class="field">
								<tr>
									<td>
										<%= form.label :email %>
									</td>
									<td>
										<%= form.text_field :email, id: :user_email %>
									</td>
								</tr>
							</div>

							<div class="field">
								<tr>
									<td>
										<%= form.label :facebook_link %>
									</td>
									<td>
										<%= form.text_field :facebook_link, id: :facebook_link %>
									</td>
								</tr>
							</div>

							<div class="field">
								<tr>
									<td>
										<%= form.label :other_social_links %>
									</td>
									<td>
										<%= form.text_field :other_social_links, id: :user_other_social_links %>
									</td>
								</tr>
							</div>

						</tbody>
					</table>

				<div class="actions">
					<%= form.submit %>
				</div>
			<% end %>

		</div>
	</div>
</div>