<p id="notice"><%= notice %></p>

<p>
  <strong>Town name:</strong>
  <%= @town.town_name %>
</p>

<p>
  <strong>Country name:</strong>
  <%= @town.country_name %>
</p>

<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>
